.just{


	background-image: url(freshly-baked-pizza-rustic-wooden-table-generated-by-ai.jpg);
	background-size: 100%;
	background-repeat: no-repeat;

}
#just1{

	width: 500px;
	height: 500px;
	border-style: solid;
	background-color: black;
	margin:auto;
     opacity:;
}

.formclass
{
	font-family: sans-serif;
    color: white;



}